{
  "semi": true,
  "tabWidth": 3,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "printWidth": 100,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": [
    "classProperties",
    "decorators-legacy",
    "typescript"
  ],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^../(.*)", "^./(.*)"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}